<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>

<body>
    <h2>글 쓰기</h2>
    <form action="/home.ejs" method="POST">
        <td colspan="2">
            <textarea name="content" rows="20" title="내용입력" style="width:100%;"></textarea>
            <br>
        </td>
        <input type="submit" class="board_write_btn01 iphone_input" value="확인(작성완료)">
    </form>
</body>

</html>