<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>GSM 건의</title>
        <link rel="icon" href="public/favicon.ico">
    
        <link rel="stylesheet" href="gsmhome.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
<body>
<<<<<<< HEAD
    <h1>Login Scuces</h1>
=======
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>날짜</th>
            <th>조회수</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>건의 중----</td>
            <td>GSM</td>
            <td>2019.7.3</td>
            <td>0</td>
        </tr>
    </tbody>
    <script src="js/jqery-3.1.1.js"></script>
    <script src="js/bootstrap.js"></script>
>>>>>>> 8d2b2e789ec98e85335ab12a3e3a5b57b24dd7ae
</body>
</html>