<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <br>
			<h1>
                GSM 건의
            </h1>
            <h3>><%=title></h3><br><br>
            
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>
							번호
						</th>
						<th>
							날짜
                        </th>
                        <th>
                            제목
                        </th>
						<th>
							작성자
						</th>
						<th>
						    아이디
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							2019/07/04
						</td>
						<td>
							GSM 건의(1)
						</td>
						<td>
							Test1
						</td>
						<td>
						    s18001
						 </td>
					</tr>
					<tr class="active">
						<td>
							2
						</td>
						<td>
                            2019/07/04
						</td>
						<td>
                            GSM 건의(2)
						</td>
						<td>
							Test2
						</td>
						<td>
						    s18002
						 </td>
					</tr>
					<tr class="success">
						<td>
							3
						</td>
						<td>
							03/08/2012
						</td>
						<td>
						    Seattle, WA
						</td>
						<td>
							General Staff
						</td>
						<td>
						    $188.50
						 </td>
					</tr>
					<tr class="warning">
						<td>
							4
						</td>
						<td>
							03/14/2012
						</td>
						<td>
							Seattle, WA
						</td>
						<td>
							General Staff
						</td>
						<td>
						    $135.50
						 </td>
					</tr>
					<tr class="danger">
						<td>
							4
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Seattle, WA
						</td>
						<td>
							General Staff
						</td>
						<td>
						    $132.50
						 </td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-12">
					<p>
						You may logout <a class="logout" href="#">here.</a>
					</p>
					<p>
						You may change your password <a class="logout" href="#">here.</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>