<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="gsmhome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title><%=title%></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->

    <title>GSM 건의</title>
</head>

<tbody>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">건의 사항</h5>
        <h5 style="margin-right: auto!important"><%=name%>님 환영합니다</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/index/post">글쓰기</a>
            <a class="p-2 text-dark" href="/mypage">마이페이지</a>
        </nav>
        <a class="btn btn-outline-primary" href="/logout">logout</a>
    </div>
    <br>
    <br>
    <div class="container">
     <% for(var i=0;i<5; i++){ %>
        <div class="notice notice-success">
            <strong>GSM 건의()</strong><%=subject%><span class="pull-right text-success readMore">Read</span>
            <div class="desc">
                <p>
                   <%=content%>
                </p>
            </div>
        </div>
        <% } %>
    <script>
        $(document).ready(function () {
            $(".readMore").click(function () {
                var This = $(this);
                $(this).next().toggle(function () {
                    if (This.text() == "Read") {
                        This.text("Hide")
                        
                    }
                    else {
                        This.text("Read")
                    }
                })
            });
        })
    </script>
</tbody>
</html>