<% if(message == 1) { %>
    <script>
        alert('로그인 오류');
    </script>
<% } else if(message == 2) { %> 
    <script>
        alert('로그인을 해주세요');
    </script>
<% } %>



<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>GSM 건의</title> -->
    <title><%= title %></title>

    <link rel="stylesheet" href="gsmcss.css">
</head>

<body>
    <img src="images/메인 로그인 로고.png">
    <form method="POST" action="login">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-5 col-md-3">
                    <div class="form-login">
                        <h4>GSM에 오신걸 환영합니다.</h4>
                        <input type="text" name="id" class="form-control input-sm chat-input"
                            placeholder="id" />
                        </br>
                        <input type="password" name="userPassword" class="form-control input-sm chat-input"
                            placeholder="password" />
                        </br>
                        <div class="wrapper">
                            <span class="group-btn">
                                <input type="submit" class="btn btn-primary btn-md" class="fa fa-sign-in" value="login">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>

</html>